* {
    margin:0;
    padding:0;
}
#table{
    position:fixed;
    height:40%;
    background:brown;
    width:100%;
    bottom:0;
    z-index:-100;
}
.tool, .toolTarget{
    position:absolute;    
}
.toolTarget{
    border: solid 1px white;
    border-style:dashed;
}
#instruction{
    text-align:center;
}
