* {
    margin:0;
    padding:0;
}
#table, #kitchen{
    position:fixed;
    height:40%;
    background:black;
    width:100%;
    bottom:0;
    z-index:-100;
}
#kitchen{
    height:60%;
    top:0;
    background:#eef;
}
.tool, .toolTarget, .animation{
    position:absolute; 
}
.toolTarget{
    border: solid 1px white;
    border-style:dashed;
    z-index:-50;
}
#instruction{
    text-align:center;
}
h1 {
    font-size:20px;
}

